#no-mobile__max {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: deepskyblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  top: 0;
}

#no-moblie__min {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: deepskyblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  top: 0;
}

@media screen and (max-width: 900px) {
  #no-mobile__max {
    display: none;
  }
}

@media screen and (min-width: 580px) {
  #no-moblie__min {
    display: none;
  }
}
